@inherits LayoutComponentBase

<div class="page">
    <main class="bg-linear-gradient">
        <article class="content">
            @Body
        </article>
    </main>
    <footer class="bg-white">
        Snoops 2026
    </footer>
</div>
