@inherits LayoutComponentBase

<div class="page">
    <header>
        
    </header>

    <main class="bg-linear-gradient">
        <article class="content">
            @Body
        </article>
    </main>
    
    <footer class="bg-white">
        
    </footer>

</div>
