@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content h-screen">
            @Body
        </article>
    </main>

    <footer>
        <Footer />
    </footer>
</div>
