@page "/"
@layout ComingSoonLayout

<div class="commingSoon-container min-h-screen xl:h-screen flex flex-col items-center justify-center">

    <div class="pt-6">
        <div class="[font-family:var(--russo-one-font)] italic text-[#fff] text-[40px] sm:text-6xl text-left text-shadow-lg/60 xl:flex flex-col">
            <h1 class="hidden md:block xl:w-300 md:w-180 md:text-5xl 2xl:w-350 2xl:text-7xl md:text-center animate-fade-in-left">Estamos preparando algo incrível!</h1>
            <h1 class="md:hidden pl-2 sm:pl-0 animate-fade-in-left">Estamos</h1>
            <h1 class="md:hidden pl-6 animate-fade-in-left2">preparando</h1>
            <h1 class="md:hidden pl-12 animate-fade-in-left3">algo incrível!</h1>
        </div>
    </div>

    <div id="comingSoonCard-container" class="mb-2 sm:mb-10 flex justify-center mt-10 sm:mt-20 w-full">
        <div id="comingSoonCard" class="bg-white rounded-lg w-85 sm:w-150 md:w-180 2xl:w-350 p-5 shadow-lg/70">
            <div class="grid grid-cols-2 2xl:h-30 justify-items-center">
                <p class="[font-family:var(--russo-one-font)] md:flex md:items-center 2xl:items-start md:w-90 2xl:w-full md:text-center text-xl sm:text-2xl md:text-3xl 2xl:text-5xl 2xl:mt-10">
                    Site em construção 🚧
                </p>
                <img src="images/snoopsLogoJPEG.jpg" class="ml-6 sm:ml-25 w-30 sm:w-40 md:w-50 2xl:w-70 2xl:flex 2xl:ml-70 " alt="snoopsLogo">
            </div>
            <div class="w-full">
                <p class="[font-family:var(--exo2-font)] mt-4 text-black text-2xl sm:text-4xl 2xl:text-6xl 2xl:p-10">
                    Mas enquanto isso, siga nosso instagram para mais novidades!
                </p>
            </div>
        </div>
    </div>

    <div class="mt-10 flex justify-center [font-family:var(--exo2-font)]">
        <a href="@snoopsInsta" target="_blank">
            <button class="flex gap-2 text-white text-lg sm:text-3xl 2xl:text-6xl rounded-lg p-2 2xl:p-4 bg-linear-to-bl from-violet-500 to-fuchsia-500 shadow-violet-500 shadow-lg/80 cursor-pointer transition duration-700 ease-in-out animate-instaBtn">
                <div>
                    <i class="bi bi-instagram text-center"></i>
                </div>
                <div>
                    <p>@@snoops_sorveteria</p>
                </div>
            </button>
        </a>
    </div>
    
</div>

@code{
    private string snoopsInsta = "https://www.instagram.com/snoops_sorveteria";
}