
<footer id="footer-container" class="bg-[#9C27F5]">
    <div>
        <div>
            <p>footer content</p>
        </div>

        <div>
            <p>footer content</p>
        </div>
    </div>
</footer>